<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" throwConfigExceptions="true">
	<targets>
		<target xsi:type="File" name="logfile" fileName="${gdc:LogDirectory}/log-${shortdate}.txt"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="logfile" />
	</rules>
</nlog>